body{
    font-family: 'Alegreya Sans SC', sans-serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}
header{
    display: flex;
    justify-content: center;
}
.nav_item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card >{
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.pricing{
    display: flex;
    flex-direction: column;
}
.card{
    flex-basis: 450px;
}
.gallery > img{
border: solid 10px #50C7C7;
margin: 10px;
width: 300px;
}
@media screen and (min-width: 850px){
    header{
        display: flex;
    }
}