body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
    font-size: 1em;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.card > header{
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.pricing{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    display: flex;
    flex-basis: 450px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.gallery > img{
border: solid 10px #50C7C7;
margin: 10px;
width: 300px;
}
@media screen and (min-width: 850px){
    header{
        justify-content: left;
    }
}